
.wrapper {
  padding: var(--padding-page);
  font-family: 'Roboto Flex';
  color:white;
  height: 100vh;
}

.content {
  display: flex;
  margin-top:5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

